# Logi symulacji
simulation.log

# Visual Studio
.vs/

# Build outputs
*.exe
*.out
*.o
prom

# Logs
logs/

# OS
.DS_Store
Thumbs.db

# Binarne pliki testow
tests/test_semaphore
tests/test_shm
tests/test_msgqueue